



<%- include("header") -%>




    <!--    <% %> ----   These tag are Scriplet tag. that allow to use control-flow of JS   -->
    <!--    <%= %> ----   These tag are called Markers  -->

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>


    <div class="box">


        <!-- <% for(var i=0 ; i < newListItems.length ;i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItems[i].name %>
                </p>

            </div>
        <% } %> -->
      <% newListItems.forEach(function(item){   %>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" onchange="this.form.submit()" name="checkbox" value= <%= item._id %>>
                <p>
                    <%= item.name %>
                </p>
            </div>
            <input type="hidden" name="listName" value="<%= listTitle %>">
        </form>
      <% });    %>






        <form action="/" method="post" class="item">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value= <%= listTitle %>  >+</button>
        </form> 

    </div>

    <%- include("footer") -%>
